.offers {
    height: 480px;
    margin: 120px 0 160px;
}

.offers-container {
    background: linear-gradient(180deg, #fde1ff, rgba(225, 255, 234, 0.1333333333) 60%);
    display: flex;
    height: 100%;
    padding: 0 120px;
}

.offers-container-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;

    h2 {
        font-size: 4.8rem;
        font-weight: 700;
        text-transform: capitalize;
    }

    p {
        font-size: 2.2rem;
        font-weight: 600;
    }

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        margin-top: 24px;
        width: 242px;
        height: 64px;
        font-size: 2rem;
        font-weight: 700;
        border-radius: 100px;
        border: none;
        outline: none;
        background: linear-gradient(45deg, #ff4141, #d141ff);
        animation: pulse512 1.5s infinite;
        color: #fff;
    }
}

.offers-container-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    padding-top: 48px;

    img {
        height: 100%;
    }
}

@media (max-width: 1200px) {
    .offers-container {
        padding: 0 80px;
    }

    .offers-container-left {
        h2 {
            font-size: 4.6rem;
        }

        p {
            font-size: 2rem;
        }

        button {
            font-size: 1.8rem;
            width: 220px;
            height: 56px;
        }
    }
}

@media (max-width: 992px) {
    .offers {
        height: 320px;
    }
    .offers-container {
        padding: 0 36px;
    }

    .offers-container-left {
        h2 {
            font-size: 3rem;
        }

        p {
            font-size: 1.6rem;
        }

        button {
            font-size: 1.6rem;
            width: 180px;
            height: 46px;
        }
    }

    .offers-container-right {
        img {
            width: 200px;
            height: auto;
        }
    }
}

@media (max-width: 768px) {
    .offers {
        height: 300px;
    }
    .offers-container-left {
        h2 {
            font-size: 2.4rem;
        }

        p {
            font-size: 1.4rem;
        }

        button {
            font-size: 1.4rem;
            width: 160px;
            height: 42px;
        }
    }

    .offers-container-right {
        img {
            width: 180px;
        }
    }
}
